#app-header {
  @apply relative mb-8 flex flex-row justify-between;
}

#app-header > .topbar-start {
  @apply inline-flex items-center;
}

#app-header > .topbar-end {
  @apply inline-flex items-center;
}
#app-header > .ribbon.dev {
  @apply absolute right-0 top-0 z-[996] -mr-16 mt-12 w-64 rotate-45 bg-red-500 bg-opacity-75 text-center text-white;
}

#app-header > .ribbon.dev span {
  @apply right-0 top-0;
}

#app-header > .jh-navbar {
  @apply hidden;
}

#app-header > .jh-navbar > .container-fluid {
  @apply flex flex-row items-center;
}

#app-header > .jh-navbar > .container-fluid > div {
  @apply grow;
}

#app-header > .jh-navbar > .container-fluid > div ul {
  @apply flex justify-end gap-2;
}

#app-header > .jh-navbar > .container-fluid > div a {
  @apply flex items-center gap-1;
}

#app-header > .jh-navbar > .container-fluid > div ul .dropdown-menu {
  @apply relative hidden;
}

#app-header > .jh-navbar > .container-fluid > div ul .dropdown-menu.show {
  @apply absolute block;
}

#app-header > .jh-navbar > .container-fluid > div ul .dropdown-item {
  @apply block;
}

#app-header > .jh-navbar > .container-fluid > div ul li:last-child > div {
  @apply right-0 pr-4;
}

#app-header > .jh-navbar > .container-fluid > div ul li:last-child > div a {
  @apply text-right;
}

#app-header .collapse {
  @apply visible;
}

.topbar-menubutton {
  @apply mr-4 inline-flex h-10 w-10 items-center justify-center rounded-full hover:bg-lxm-primary hover:text-lxm-surface;
}

.topbar-menubutton i {
  @apply text-xl/5;
}

.topbar-end > div {
  @apply ml-4;
}
.topbar-search input {
  @apply w-40 md:w-64;
}

.p-input-icon-left > i:first-of-type,
.p-input-icon-left > svg:first-of-type,
.p-input-icon-left > .p-input-prefix {
  left: 0.75rem;
  /* color: #6c757d; */
}
.p-input-icon-left > .p-inputtext {
  @apply rounded-full pl-10;
}
